@font-face {
  font-family: 'MinFont'; 
  src: url('../assets/fonts/Super\ Kindly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'MinFont', sans-serif;
}


#bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
}


#alge {
    position: absolute;
    height: 50vh;
    width: 10vw;
    left: 5vw;
    bottom: 10vh;
}

#alge2 {
    position: absolute;
    height: 30vh;
    width: 10vw;
    left: 15vw;
    bottom: 7vh;
    transform: scaleX(-1);
}

#orange-coral {
    position: absolute;
    height: 20vh;
    width: 10vw;
    left: 25vw;
    bottom: 2vh;
    transform: scaleX(-1);
}

#medium-coral {
    position: absolute;
    height: 40vh;
    width: 38vw;
    right: -5vw;
    bottom: 2vh;
}




