@font-face {
  font-family: 'MinFont'; 
  src: url('../assets/fonts/Super\ Kindly.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'MinFont', sans-serif;
}


.main-section-container {
    position: relative;
}

#bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
}

#coral-bg {
    position: absolute;
    height: 50vh;
    width: 30vw;
    left: -5vw;
    bottom: -5vh;
}


#medium-coral {
    position: absolute;
    height: 40vh;
    width: 38vw;
    right: -5vw;
    bottom: 2vh;
}


@keyframes vendespil-knap {
    from {transform: scale(1);}
    to {transform: scale(0.8);}
}



#info-button {
    position: absolute;
    left: 40px;
    top: 20px;
    height: 125px;
    cursor: pointer;
}

#info-button img {
    width: 100px;
    height: 100px;
}

#info-button p {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;

}

#title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    color: white;

}